@import "blocks/pricing";
@import "blocks/catcher";
@import "blocks/programm";
@import "blocks/reviews";
@import "blocks/author";
@import "blocks/video-reviews";

.button--primary {
  max-width: 320px;
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  background: linear-gradient(
    142.3deg,
    #1da922 4.7%,
    #28a91d 4.71%,
    #118a0f 97.22%
  );
  border-radius: 7px;
}
