.pricing__list {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (minmax(370px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 60px;
}

.pricing-bundle {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(49.48%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.6) 49.48%, rgba(255, 255, 255, 0.7) 100%);
  -webkit-box-shadow: 0px 14px 34px rgba(214, 214, 214, 0.25);
          box-shadow: 0px 14px 34px rgba(214, 214, 214, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 10px;
}

.pricing-bundle__title {
  font-family: var(--ff-bold);
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  color: #323c4b;
}

.pricing-bundle__bullets {
  list-style: none;
  margin-bottom: 40px;
}

.pricing-bundle__bullet {
  padding-left: 30px;
  position: relative;
  margin-bottom: 20px;
}

.pricing-bundle__bullet::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/pricing/positive.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pricing-bundle__bullet:last-child {
  margin-bottom: 0;
}

.pricing-bundle__bullet--negative:before {
  background-image: url("../img/pricing/negative.svg");
}

.pricing-popup {
  position: relative;
}

.pricing-popup .lead-form__form {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 25px rgba(187, 187, 187, 0.25);
          box-shadow: 0px 5px 25px rgba(187, 187, 187, 0.25);
  border-radius: 10px;
}

.pricing-popup::after {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 19px rgba(216, 216, 216, 0.25);
          box-shadow: 0px 15px 19px rgba(216, 216, 216, 0.25);
  border-radius: 5px;
  z-index: 0;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing-bullets__list {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (minmax(370px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.pricing-bullets-bullet__img {
  max-width: 100%;
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  margin-bottom: 5px;
  display: block;
}

.pricing-bullets-bullet__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #333333;
}

.pricing-bundle__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .pricing-bullets-bullet__desc {
    font-size: 14px;
  }
  .pricing-bundle__title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .pricing-bundle__bullet {
    font-size: 14px;
  }
}

.program-tab {
  counter-reset: module;
}

.program-tab__cards {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 55px;
  display: -ms-grid;
  display: grid;
  gap: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program-tab__cards.gallery--2 {
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.program-tab__cards.gallery--2 .program-tab-card__img {
  -o-object-position: left;
     object-position: left;
}

.program-tab__cards.gallery--3 {
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.program-tab__card--material {
  max-width: 510px;
  width: 100%;
  padding: 30px 40px 30px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 6px rgba(200, 200, 200, 0.25);
          box-shadow: 0px 6px 6px rgba(200, 200, 200, 0.25);
  border-radius: 5px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.program-tab__card--material::after {
  content: "";
  display: block;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid #f2f2f2;
  -webkit-filter: drop-shadow(0px 6px 6px rgba(223, 223, 223, 0.3));
          filter: drop-shadow(0px 6px 6px rgba(223, 223, 223, 0.3));
  border-radius: 5px;
  position: absolute;
  left: 6px;
  top: 6px;
}

.program-tab-card__img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 140px;
  margin-bottom: 10px;
}

.program-tab-card__title {
  font-family: var(--ff-bold);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 10px;
}

.program-tab-card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.program-tab__descr {
  margin-bottom: 0;
}

.program-tab-descr-wrapper {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--ff-bold);
}

.program-tab-descr-wrapper::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/0-general/attention.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 18px;
}

.programm-module {
  counter-increment: module;
}

.programm-module__heading {
  padding-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.programm-module__heading--splitted .programm-module__title {
  max-width: 546px;
}

.programm-module__heading-name {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 60px;
}

.programm-module__heading-name .programm-module__suptitle::before {
  content: counter(module) " ";
}

.programm-module__suptitle {
  font-family: var(--ff-bold);
  font-size: 20px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 7px;
}

.programm-module__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #333333;
}

.programm-module__heading-duration {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 99px;
  border-left: 1px solid #e2e2e2;
}

.programm-module-bullets {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 80px;
  padding-bottom: 45px;
  border-bottom: 1px solid #e2e2e2;
}

.programm-module-bullets--results {
  border-bottom: none;
}

.programm-moudle-bullets__title {
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 100%;
  color: #333333;
  font-family: var(--ff-bold);
}

.programm-module-bullets__list {
  list-style: none;
  counter-reset: bullet;
  --list-padding: 80px;
  padding-left: var(--list-padding);
}

.programm-module-bullets__item {
  position: relative;
  counter-increment: bullet;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 145%;
  color: #333333;
}

.programm-module-bullets__item::before {
  content: attr(data-prefix) " " counter(bullet);
  position: absolute;
  left: calc(0px - var(--list-padding));
  top: 0;
  font-family: var(--ff-bold);
}

.programm-module-bullets__item:last-of-type {
  margin-bottom: 0;
}

.programm-module-bullets__item--result::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/pricing/positive.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.programm-module-bullets__list--results {
  --list-padding: 40px;
}

.programm-module-cards__title {
  font-family: var(--ff-bold);
  font-size: 22px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 25px;
  text-align: center;
}

.programm-module__task {
  padding-top: 45px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1fr;
      grid-template-columns: 1fr 0.5fr 1fr;
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.programm-module__stat-title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 100%;
  color: #333333;
  font-family: var(--ff-bold);
}

.programm-module__stat-title--result {
  color: #118a0f;
}

.programm-module__stat-value {
  font-size: 16px;
  line-height: 145%;
  color: #333333;
}

.testimonials-wrapper {
  overflow: hidden;
}

.testimonials-slider {
  margin-left: auto;
  margin-right: auto;
}

.testimonials-item {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 25px rgba(204, 204, 204, 0.15);
          box-shadow: 0px 4px 25px rgba(204, 204, 204, 0.15);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.testimonials-item::after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #f5f5f5;
  position: absolute;
  top: 10px;
  left: 10px;
}

.testimonials-item.swiper-slide-next, .testimonials-item.swiper-slide-active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}

.testimonials {
  display: block;
}

.testimonial-top img {
  width: 75px;
  height: 75px;
}

.testimonial-text {
  font-size: 16px;
}

.testimonials-pagination {
  position: static;
  max-width: 100%;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: none;
          transform: none;
  padding-top: 30px;
}

.testimonials
.swiper-horizontal
> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  -webkit-transform: none;
          transform: none;
}

.testimonials-button-prev,
.testimonials-button-next {
  top: 45%;
}

@media (max-width: 991px) {
  .swiper-button-next.testimonials-button-next,
  .swiper-button-prev.testimonials-button-prev {
    display: none;
  }
  .testimonial-text {
    font-size: 14px;
  }
}

.video-reviews-slider-slide {
  max-width: 745px;
  width: 100%;
  position: relative;
  background-color: #000;
  border-radius: 16px;
  cursor: pointer;
}

.video-reviews-slider-slide::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 72px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/0-general/play-icon.svg");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.video-reviews-slider-slide:hover::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #f00;
}

.video-reviews-slider-slide--active::before {
  display: none;
}

.video-reviews-slider-slide__media {
  width: 100%;
  border-radius: 16px;
  height: 420px;
}

.video-reviews-slider-slide__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-reviews-slider-slide__img--hidden {
  display: none;
}

.video-reviews-slider-slide__video {
  display: none;
  opacity: 0;
}

.video-reviews-slider-slide__video--visible {
  display: block;
  opacity: 1;
}

.video-reviews-slider__pagination {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

@media (max-width: 1199px) {
  .video-reviews-slider__pagination {
    display: none;
  }
  .video-reviews-slider-slide__media {
    height: 220px;
  }
  .testimonials-pagination {
    display: none;
  }
}

.autor-single__image {
  right: 0;
  max-width: 720px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1300px) {
  .autor-single__who {
    margin-bottom: -20px;
  }
  .autor-single {
    -webkit-box-shadow: inset 0 -25px 10px -20px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 -25px 10px -20px rgba(0, 0, 0, 0.1);
  }
  .autor-single-image {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .autor-single__who {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .autor-single__who::after {
    content: "";
    display: block;
    width: 70%;
    height: 30px;
    background-image: url("../img/6-autor/author_line.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -20px;
  }
}

.button--primary {
  max-width: 320px;
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  background: linear-gradient(142.3deg, #1da922 4.7%, #28a91d 4.71%, #118a0f 97.22%);
  border-radius: 7px;
}

.slider__button {
  background-color: #1da922;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.slider__button:after {
  color: #fff;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.slider__scrollbar {
  margin-top: 20px;
  display: none;
}

.slider__scrollbar .swiper-scrollbar-drag {
  background-color: #118a0f;
  height: 5px;
}

.swiper-horizontal > .slider__scrollbar {
  position: static;
}

@media (max-width: 1199px) {
  .slider__scrollbar {
    display: block;
  }
  .slider__button {
    display: none;
  }
  .button--primary {
    font-size: 14px;
  }
}

.cards__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 50px;
}

.card__img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 165px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.card__title {
  font-family: var(--ff-bold);
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 10px;
}

.card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #333333;
}
/*# sourceMappingURL=crb-landing.css.map */