extends common/layout
include common/mixins

block content
	main
		.hero
			.container
				h1.headliner Рециркуляторы, 
					em.bg-em предотвращающие распостронение вируса 
					| с гарантией 
					em.bold-em 12 месяцев 
					|и доставкой 
					em.bold-em по РФ от 2 дней

				.header-quiz
					.header-quiz-1
						h3.quiz_title Ответьте на 4 простых вопроса и узнайте какая модель вам нужна:
						.quiz-progress-bar
							.quiz-progress-bar_point
							.quiz-progress-bar_line
							.quiz-progress-bar_point
							.quiz-progress-bar_line
							.quiz-progress-bar_point
							.quiz-progress-bar_line
							.quiz-progress-bar_point
						h4.quiz_question Какой размер помещения
						.quiz-answers
							.quiz-answers-item
								input(type="radio").quiz-answer-item_input
								p.quiz-anser-item_text до 60м²
							.quiz-answers-item
								input(type="radio").quiz-answer-item_input
								p.quiz-anser-item_text 60-150 м²
							.quiz-answers-item
								input(type="radio").quiz-answer-item_input
								p.quiz-anser-item_text 150-200 м²
							.quiz-answers-item
								input(type="radio").quiz-answer-item_input
								p.quiz-anser-item_text
							.quiz-answers-item
								input(type="radio").quiz-answer-item_input
								p.quiz-anser-item_text
							.quiz-answers-item
								input(type="radio").quiz-answer-item_input
								p.quiz-anser-item_text
							.quiz-answers-item
								input(type="radio").quiz-answer-item_input
								p.quiz-anser-item_text
