extends common/layout
include common/mixins

block content
	main
		.container
			a(href=`${waLink}`).whatsapp-lnk
				img(src="img/footer/whatsapp.svg")
		.hero
			.container.hero-container

				.hero-left
					h1.headliner Рециркуляторы, 
						em.em-color предотвращающие распостронение вируса
						|  с гарантией 
						| 12&nbsp;месяцев 
						| &nbsp;и&nbsp;доставкой по&nbsp;РФ&nbsp;
						em.em-bold от&nbsp;2&nbsp;дней
					.header-quiz_wrap
						form.header-quiz
							h3.quiz_title Ответьте на 4 простых вопроса и узнайте какая модель вам нужна:
							.quiz-progress-bar
								.quiz-progress-bar_point.quiz-progress-bar_point--1.quiz-point--current
								.quiz-progress-bar_point.quiz-progress-bar_point--2
								.quiz-progress-bar_point.quiz-progress-bar_point--3
								.quiz-progress-bar_point.quiz-progress-bar_point--4
								.progress-bar_wrap
									.quiz-progress-bar_grid
									.quiz-progress-bar_line
							.quiz-page-1
								h4.quiz_question Какой размер помещения
								.quiz-answers
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-ansers-item--checked
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text до 60м²
											span.quiz-anser-item_chekbox
									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text 60-150 м²
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text 150-200 м²
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text 200-300 м²
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text 300-400 м²
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text 400-2000 м²
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text 2000-5000 м²
											span.quiz-anser-item_chekbox
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-anwsers-item--center
											input(type="radio" name="quiz1").quiz-answer-item_input
											span.quiz-anser-item_text Затрудняюсь ответить
											span.quiz-anser-item_chekbox

							.quiz-page-2
								h4.quiz_question Какой Укажите какое среднее количество посетителей за 1 день
								.quiz-answers
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-ansers-item--checked
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text До 10 человек
											span.quiz-anser-item_chekbox
									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text До 50 человек
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text До 100 человек
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text До 300 человек
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text До 500 человек
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text До 1000 человек
											span.quiz-anser-item_chekbox

									.quiz-answers-item_wrap
										label.quiz-answers-item
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text Свыше 1000 человек
											span.quiz-anser-item_chekbox
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-anwsers-item--center
											input(type="radio" name="quiz2").quiz-answer-item_input
											span.quiz-anser-item_text Затрудняюсь ответить
											span.quiz-anser-item_chekbox

							.quiz-page-3
								h4.quiz_question Выберите вид помещения
								.quiz-answers.quiz-answers--left
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Офисного типа, бизнес центры
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Производственные
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left

									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Торговые центры, магазины
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left

									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Детские сады, школы, институты
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left

									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Жилое, квартиры
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left

									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Спортивное
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left

									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Медицинское
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-anwsers-item--center.quiz-answers-item--left
											input(type="radio" name="quiz3").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Другое
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left





							.quiz-page-4
								h4.quiz_question Мы уже подобрали вам несколько вариантов. Выберите, как вам удобнее узнать модель и стоимость
								.quiz-answers.quiz-answers--left
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz4").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left На номер Whatsapp
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left
									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz4").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left По номеру в Telegram
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left

									.quiz-answers-item_wrap
										label.quiz-answers-item.quiz-answers-item--left
											input(type="radio" name="quiz4").quiz-answer-item_input
											span.quiz-anser-item_text.quiz-anser-item_text--left Жду звонка
											span.quiz-anser-item_chekbox.quiz-anser-item_chekbox--left

							.quiz-page-5
								h4.quiz_question Укажите номер телефона, чтобы получить стоимость модели под ваше помещение и оптовый прайс лист
								.quiz-page-5-form
									input(name="formName" type="text").form-name
									input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).quiz-phone.g-input
									button(type="submit").btn-prim.quiz-btn Подобрать модель
									p.privacy.quiz-privacy При нажатии на кнопку «Подобрать модель» Вы соглашаетесь на обработку персональных данных


							.quiz-contorls
								button(type="button").quiz-controls_prev Назад
								button(type="button").quiz-controls_next.btn-prim Далее
				.hero-right
					.hero-card_wrap.hero-card_clear
						.hero-card
							.hero-cart_triangle
							+pic({
								src: 'img/1-hero/clear',
								ext: '.png',
								pictureClass: 'hero-card_pic',
								alt: 'icon'
							})
							span.hero-card_text Чистый воздух
					.hero-card_wrap.hero-card_quiet
						.hero-card
							.hero-cart_triangle
							+pic({
								src: 'img/1-hero/quiet',
								ext: '.png',
								pictureClass: 'hero-card_pic',
								alt: 'icon'

							})
							span.hero-card_text Бесшумно
					+pic({
						src: 'img/1-hero/hero',
						ext: '.png',
						pictureClass: 'hero_pic',
						alt: 'icon'

					})








		.bullets
			.container.bullets-container
				.bullet-item
					+pic({
						src: 'img/2-bullets/cardboard',
						ext: '.png',
						alt: 'icon'
					})
					h3.bullet-item_title Бесплатная доставка по всей РФ
					p.bullet-item_text Доставляем в день заказа по СПб.
				.bullet-item.bullet-item--sketch
					+pic({
						src: 'img/2-bullets/sketch',
						ext: '.png',
						alt: 'icon'
					})
					h3.bullet-item_title Индивидуальный дизайн
					p.bullet-item_text Брендируем под вашу кампанию.<br>Розница&nbsp;и&nbsp;ОПТ.
				.bullet-item
					+pic({
						src: 'img/2-bullets/plant',
						ext: '.png',
						pictureClass: 'bullet-item_plant',
						alt: 'icon'
					})
					h3.bullet-item_title Безопасно для здоровья
					p.bullet-item_text Отсутсвие засветок (выхода) УФ-излучения из прибора сертифицировано<br>Роспатребнадзором.	







		.danger
			.container
				h2.section-title.danger-title Опасность 
					em.unem-title некачественных изделий
				p.section-subtitle.danger-subtitle Многие модели, которые сейчас есть на рынке, опасны для здоровья человека
				.danger-container
					.swiper-button-next.danger-next
					.swiper-button-prev.danger-prev
					.danger-left
						p.danger_text В некачественных изделиях выход излучения во время работы и попадание на кожу и глаза 
							em.em-bold МОЖЕТ ПРИВЕСТИ К ТЯЖЁЛЫМ ПОСЛЕДСТВИЯМ 
							| ( Различные онкологические заболевания, катаракта и другие ). Даже если, лучи напрямую не светят на человека, они могут отражаться от различных поверхностей.
						p.danger_text УФ-излучение 
							em.em-bold РАЗЛАГАЕТ ОБЫЧНЫЕ ПЛАСТИКИ С ВЫДЕЛЕНИЕМ ПРОДУКТОВ РАСПАДА 
							| и в некачественных устройствах эти продукты разгоняются вентилятором по помещению (сотрудники и посетители дышат этим весь день)
					.danger-right


						.swiper-container.danger-slider-container
							.danger-slider.swiper-wrapper

								.danger-slide.danger-slide-1.swiper-slide
									.danger-tag_wrap.danger-tag_left
										.danger-tag Есть выходящие УФ-лучши

									+pic({
										src: 'img/3-danger/danger-1',
										ext: '.jpg',
										pictureClass: 'danger-slide_pic',
										alt: 'icon'
									})


								.danger-slide.danger-slide-2.swiper-slide
									.danger_icon.danger_icon-2
										+pic({
											src: 'img/3-danger/danger',
											ext: '.png',
											alt: 'icon'
										})
									.danger-tag_wrap.danger-tag_left
										.danger-tag Есть выходящие УФ лучи

									.danger-tag_wrap.danger-tag_right
										.danger-tag Корпус из пластика
									+pic({
										src: 'img/3-danger/danger-2',
										ext: '.jpg',
										pictureClass: 'danger-slide_pic danger-slide_pic-2',
										alt: 'icon'
									})


								.danger-slide.danger-slide-3.swiper-slide
									.danger-tag_wrap.danger-tag_left.danger-tag-3
										.danger-tag Есть выходящие УФ лучи

									+pic({
										src: 'img/3-danger/danger-3',
										ext: '.jpg',
										pictureClass: 'danger-slide_pic danger-slide_pic-3',
										alt: 'icon'
									})

								.danger-slide.danger-slide-4.swiper-slide
									.danger-tag_wrap.danger-tag_left.danger-tag-4
										.danger-tag Есть выходящие УФ лучи

									.danger-tag_wrap.danger-tag_right.danger-tag-4
										.danger-tag Корпус из пластика
									+pic({
										src: 'img/3-danger/danger-4',
										ext: '.jpg',
										pictureClass: 'danger-slide_pic',
										alt: 'icon'
									})
								.danger-slide.danger-slide-5.swiper-slide
									.danger_icon.danger-icon-5
										+pic({
											src: 'img/3-danger/danger',
											ext: '.png',
											alt: 'icon'
										})
									.danger-tag_wrap.danger-tag_left.danger-tag-5
										.danger-tag Есть выходящие УФ лучи

									.danger-tag_wrap.danger-tag_right.danger-tag-5
										.danger-tag Корпус из пластика
									+pic({
										src: 'img/3-danger/danger-5',
										ext: '.jpg',
										pictureClass: 'danger-slide_pic',
										alt: 'icon'
									})



							.swiper-pagination.danger-pagination
						










		.features#features
			.contaienr
				h2.section-title.features-title Преимущества 
					em.unem-title бактерицидных рециркуляторов 
					| Enel
			.container.features-container
				.features-cards.features-cards--left
					.feature-card_wrap.features-card--left-1
						.feature-card
							h3.feature-card_title Можно использовать в присутсвии людей
							p.feature-card_text Полностью безопасно за счет применения<br>решеток, не выпускающих УФ-излучение,<br>и отражающей фольги, защищающей<br>комплектующие от деформации
					.feature-card_wrap.features-card--left-2
						.feature-card
							h3.feature-card_title Счетчик наработанных часов
							p.feature-card_text Ультрафиолетовой лампы. Срок<br>службы до 
								em.em-bold 16 000 часов.
					.feature-card_wrap.features-card--left-3
						.feature-card
							h3.feature-card_title Регулировка оборотов
							p.feature-card_text Для включения турборежима<br>и бесшумной работы.

				+pic({
					src: 'img/4-features/product',
					ext: '.png',
					pictureClass: 'features_pic',
					alt: 'product',
				})

				.features-cards.features-cards--right
						.feature-card_wrap.features-card--right-1
							.feature-card
								h3.feature-card_title Эмальгамные лампы
								p.feature-card_text Безопасные для здоровья (там нет жидкой<br>ртути) . Повышенная мощность и КПД. 

						.feature-card_wrap.features-card--right-2
							.feature-card
								h3.feature-card_title Низкий уровень шума
								p.feature-card_text Благодаря тихим и долговечным<br>подшипникам и проклеиванию<br>виброизоляционным материалом.
						.feature-card_wrap.features-card--right-3
							.feature-card
								h3.feature-card_title Мгновенно уничтожает вирусы
								p.feature-card_text 
									em.em-bold Убивает до 99.9% <br>
									| болезнетворных бактерий и вирусов.

						.feature-card_wrap.features-card--right-4
							.feature-card
								h3.feature-card_title Большая вариативность крепления
								p.feature-card_text Напольные, настольные, настенные.<br>
									em.em-bold Подойдет для любых помещений. 


		.catalog#catalog
			.container
				h2.section-title.catalog_title Каталог моделей
			.container.catalog-container
				.catalog-item
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: 'product',
					})
					.catalog-item-name
						h3.catalog-item-name_model ЭНЭЛ 60
						span.catalog-item-name_capability 60 м³/ч
					.catalog-item-price
						span.catalog-item-price_value 17 000 ₽
						span.catalog-item-price_vat (с НДС)
					.catalog-item-buttons
						button.catalog-item-buttons_more Подробнее
						button.catalog-item-buttons_order.btn-prim Заказать
				+catalogItem({
					src: 'img/5-catalog/white',
					ext: '.png',
					model: 'ЭНЭЛ 60Т',
					cap: '60 м³/ч',
					price: '22 000 ₽',
					id: '2',
					volume: '',
					u: '',
					sizes: '',
					weight: '',
				})
				+catalogItem({
					src: 'img/5-catalog/black',
					ext: '.png',
					model: 'ЭНЭЛ100',
					cap: '100 м³/ч',
					price: '35 000 ₽',
					id: '3',
					volume: '',
					u: '',
					sizes: '',
					weight: '',
				})
				+catalogItem({
					src: 'img/5-catalog/white',
					ext: '.png',
					model: 'ЭНЭЛ200',
					cap: '250 м³/ч',
					price: '48 000 ₽',
					id: '4',
					volume: '',
					u: '',
					sizes: '',
					weight: '',
				})

				+catalogItem({
					src: 'img/5-catalog/black',
					ext: '.png',
					model: 'ЭНЭЛ150',
					cap: '150 м³/ч',
					price: '36 000 ₽',
					id: '5',
					volume: '',
					u: '',
					sizes: '',
					weight: '',
				})
				+catalogItem({
					src: 'img/5-catalog/white',
					ext: '.png',
					model: 'ЭНЭЛ300',
					cap: '300 м³/ч',
					price: '56 000 ₽',
					id: '6',
					volume: '',
					u: '',
					sizes: '',
					weight: '',
				})
				+catalogItem({
					src: 'img/5-catalog/black',
					ext: '.png',
					model: 'ЭНЭЛ2000',
					cap: '2000',
					price: '185 000 ₽',
					id: '7',
					volume: '',
					u: '',
					sizes: '',
					weight: '',
				})
				+catalogItem({
					src: 'img/5-catalog/white',
					ext: '.png',
					model: 'ЭНЭЛ5000',
					cap: '5000',
					price: '220 000 ₽',
					id: '8',
					volume: '',
					u: '',
					sizes: '',
					weight: '',
				})

		#portfolio
		.portfolio-and-pricing
			.portfolio
				h2.section-title.portfolio_title Выполненные проекты
				.container
					.swiper-container.portfolio-slider-container
						.portfolio-slider.swiper-wrapper
							.portfolio-slider_item.swiper-slide
								+pic({
									src: 'img/6-portfolio/2',
									ext: '.png',
									alt: 'portfolio-item',
									pictureClass: 'portfolio_pic portfolio_pic--red'
								})
								.portfolio-text
									h3.portfolio-text_title Опиание проекта
									p.portfolio-text_descr Рециркулятор в Бизнес Центр «Сенатор». Пару слов о проекте : Модели ЭНЭЛ200 в фирменном стиле БЦ «Сенатор». Рециркуляторы были необходимы для обеспечения безопасности здоровья клиентов, а также для возможности работать в карантин.
							.portfolio-slider_item.swiper-slide
								+pic({
									src: 'img/6-portfolio/1',
									ext: '.png',
									alt: 'portfolio-item',
									pictureClass: 'portfolio_pic portfolio_pic--white'
								})
								.portfolio-text
									h3.portfolio-text_title Опиание проекта
									p.portfolio-text_descr Рециркулятор в кабинет частному специалисту. Пару слов о проекте : Модель ЭНЭЛ100 для кабинета психолога. Чтобы было разрешение и возможность полноценно работать в карантин безопасно.
							//- .portfolio-slider_item.swiper-slide.portfolio-slider_item--2
							//- 	+pic({
							//- 		src: 'img/6-portfolio/2',
							//- 		ext: '.png',
							//- 		alt: 'portfolio-item',
							//- 		pictureClass: 'portfolio_pic portfolio_pic--red'
							//- 	})
							//- 	.portfolio-text
							//- 		h3.portfolio-text_title Опиание проекта
							//- 		p.portfolio-text_descr Рециркулятор в Бизнес Центр «Сенатор». Пару слов о проекте : Модели ЭНЭЛ200 в фирменном стиле БЦ «Сенатор». Рециркуляторы были необходимы для обеспечения безопасности здоровья клиентов, а также для возможности работать в карантин.
						.swiper-button-prev.portfolio-prev
						.swiper-button-next.portfolio-next

									

















			.pricing#pricing
				.container.pricing-container
					.pricing-form_wrap.shader
						form.pricing-form
							h3.pricing-form_title Получить Оптовый<br>Прайс-лист в Whatsap
							p.pricing-form_descr Скидка до 30% при больших объемах
							.pricing-form_input-wrap
								input(name="formName" type="text").form-name
								input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).pricing-form_input.g-input
								button.btn-prim.pricing-form_submit Получить Прайс-лист по Whatsap
							.pricing-form_privacy При нажатии на кнопку «Получить Прайс-лист по Whatsap» Вы соглашаетесь на обработку персональных данных

					+pic({
						src: 'img/7-price/price',
						ext: '.png',
						pictureClass: 'pricing_pic'
					})




		#about
		.about
			h2.section-title.about-title О компании
			.container.about-container
				.about-left
					.about-stats
						.about-stats-item
							.about-stats-item_number 25
							.about-stats-item_name сотрудников<br>в компании
						.about-stats-item
							.about-stats-item_number 13
							.about-stats-item_name лет на рынке<br>(основаны в 2007 году)
					.about-features
						.about-features-item
							+pic({
								src: 'img/8-about/arm',
								ext: '.png',
								alt: '',
								pictureClass: 'about-features-item_pic'
							})
							p.about-features-item_text Собственные производственные мощности<br>в СПб  
								em.em-only-color (Более 100м2 Металлобрабатывающий цех,&nbsp;офис,&nbsp;цех сварки, сборочный цех)

						.about-features-item
							+pic({
								src: 'img/8-about/case',
								ext: '.png',
								alt: '',
								pictureClass: 'about-features-item_pic'
							})
							p.about-features-item_text Работаем с физическими и юридическими<br>лицами   
								em.em-only-color (Возможны все способы оплаты)
								
						.about-features-item
							+pic({
								src: 'img/8-about/gazzele',
								ext: '.png',
								alt: '',
								pictureClass: 'about-features-item_pic about-features-item_pic--gazzele'
							})
							p.about-features-item_text Работем по всей РФ. Оперативная доставка&nbsp;товаров в регионы 
								em.em-only-color (Бесплатная&nbsp;доставка от 2 дней)


				.about-right
					.about-slider-wrap
						.swiper-container.about-slider
							.swiper-wrapper
								.swiper-slide
									+pic({
										src: 'img/8-about/about-1',
										ext: '.png',
										alt: 'about us',
										pictureClass: 'about_pic'
									})
								.swiper-slide
									+pic({
										src: 'img/8-about/about-2',
										ext: '.png',
										alt: 'about us',
										pictureClass: 'about_pic'
									})
								.swiper-slide
									+pic({
										src: 'img/8-about/about-3',
										ext: '.png',
										alt: 'about us',
										pictureClass: 'about_pic'
									})
							.swiper-button-next
							.swiper-button-prev





		form.questions.shader
			h2.section-title.questions-title Остались вопросы?
			p.questions_descr Оставьте заявку, с вами в течение 7 минут свяжется менеджер и ответит на все ваши вопросы
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Отправить заявку
					.question_privacy.privacy При нажатии на кнопку «Отправить заявку» Вы соглашаетесь на обработку персональных данных











		.certificates#certificates
			h2.certificates_title.section-title Сертификаты
			p.section-subtitle Соответсвует требованием Роспотребнадзора
			.container.certificates-container
				.swiper-container.certificates-slider-wrap
					.swiper-wrapper.certificates-slider
						.swiper-slide.certificate-slide.certificate-slide-1
							+pic({
								src: 'img/papper/certificate-1--cropped',
								ext: '.png',
								alt: '',
								pictureClass: 'certificates_pic certificates_pic-1'
							})
						.swiper-slide.certificate-slide.certificate-slide-2
							+pic({
								src: 'img/papper/certificate-2--cropped',
								ext: '.png',
								alt: '',
								pictureClass: 'certificates_pic certificates_pic-2'
							})
					.swiper-button-prev
					.swiper-button-next
				.swiper-pagination.certificate-pagination
