.modal_wrap.modal-callback_wrap
	button.modal-close-btn(onclick="toggle('.modal-callback_wrap')") ×
	.modal-inner
		.modal-callback.shader
			h3.modal-title Заказать звонок
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных



.modal_wrap.modal-product-more_wrap
	button.modal-close-btn(onclick="toggle('.modal-product-more_wrap')") ×
	.modal-inner
		.modal-product-more.shader
			.modal-product-more_inner
				.modal-product-slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							+pic({
								src: 'img/5-catalog/black',
								ext: '.png',
								alt: 'product',
								pictureClass: 'modal-product_pic'
							})
						.swiper-slide
							+pic({
								src: 'img/5-catalog/black',
								ext: '.png',
								alt: 'product',
								pictureClass: 'modal-product_pic'
							})
						.swiper-slide
							+pic({
								src: 'img/5-catalog/black',
								ext: '.png',
								alt: 'product',
								pictureClass: 'modal-product_pic'
							})
					.swiper-button-prev
					.swiper-button-next
					.swiper-pagination.modal-product-pagination
				.modal-product-stats
					.modal-product-stats-name
						h3.modal-product-stats-name_model Модель 1
						span.modal-product-stats-name_capability (Производительность)
					.modal-product-sizes
						.modal-product-sizes-row
							span.modal-product-sizes_name Объем помещения: 
							span.modal-product-sizes_value 12м2
						.modal-product-sizes-row
							span.modal-product-sizes_name Напряжение питания:
							span.modal-product-sizes_value  4.7В
						.modal-product-sizes-row
							span.modal-product-sizes_name Габариты ДхШхВ: 
							span.modal-product-sizes_value 120мм
						.modal-product-sizes-row
							span.modal-product-sizes_name Масса: 
							span.modal-product-sizes_value 3кг
					.modal-product-additional Гарантия
					.modal-product-additional Лапа
					.modal-product-includes
						.modal-product-includes_title Комплектация:
						.modal-product-includes_item - Рециркулятор бактерицидный модель
						.modal-product-includes_item - Технический паспорт
						.modal-product-includes_item - Кабель питания
						.modal-product-includes_item - Крепления
			h3.modal-title.modal-title--product Оформление заказа
			.modal-product-form
				input(name="formName" type="text").form-name
				input(name="name" placeholder="Ваше имя" required).g-input.modal-product_input
				input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).modal-product_input.g-input
				button.btn-prim.modal-products_btn Отправить заявку


.modal_wrap.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-1.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-1')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-2.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-2')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-3.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-3')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-4.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-4')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-5.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-5')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-6.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-6')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-7.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-7')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных

.modal_wrap.modal-order_wrap-8.modal-order_wrap
	button.modal-close-btn(onclick="toggle('.modal-order_wrap-8')") ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Оформление заказа
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных






.modal_wrap.modal-certificate_wrap.modal-certificate_wrap-1
	button.modal-close-btn(onclick="toggle('.modal-certificate_wrap-1')") ×
	.modal-inner
		.modal-certificate
			+pic({
				src: 'img/papper/certificate-1',
				alt: '',
				ext: '.png',
			})

.modal_wrap.modal-certificate_wrap.modal-certificate_wrap-2
	button.modal-close-btn(onclick="toggle('.modal-certificate_wrap-2')") ×
	.modal-inner
		.modal-certificate
			+pic({
				src: 'img/papper/certificate-2',
				alt: '',
				ext: '.png',
			})









.modal_wrap.modal-privacy_wrap
	button.modal-close-btn(onclick="toggle('.modal-privacy_wrap')") ×
	.modal-inner
		.modal-privacy
			h3.modal-privacy_title Политика в отношении обработки персональных данных
			p Настоящая Политика конфиденциальности регулирует порядок обработки и использования персональных и иных данных администратором сайтов (далее — Оператор).
			p Передавая Оператору персональные и иные данные посредством Сайта, Пользователь подтверждает свое согласие на использование указанных данных на условиях, изложенных в настоящей Политике конфиденциальности.
			p Если Пользователь не согласен с условиями настоящей Политики конфиденциальности, он обязан прекратить использование Сайта.
			p Безусловным акцептом настоящей Политики конфиденциальности является начало использования Сайта Пользователем.<br><br>

			p 1. ТЕРМИНЫ

			p 1.1. Сайт — сайты, расположенные в сети Интерне. Все исключительные права на Сайт и его отдельные элементы (включая программное обеспечение, дизайн) принадлежат Оператору в полном объеме. Передача исключительных прав Пользователю не является предметом настоящей Политики конфиденциальности.
			p 1.2. Пользователь — лицо использующее Сайт.
			p 1.3. Законодательство — действующее законодательство Российской Федерации.
			p 1.4. Персональные данные — персональные данные Пользователя, которые Пользователь предоставляет о себе самостоятельно при Регистрации или в процессе использования функционала Сайта.
			p 1.5. Данные — иные данные о Пользователе (не входящие в понятие Персональных данных).
			p 1.6. Регистрация — заполнение Пользователем Регистрационной формы, расположенной на Сайте, путем указания необходимых сведений и выбора Логина и пароля.
			p 1.7. Регистрационная форма — форма, расположенная на Сайте, которую Пользователь должен за полнить для прохождения Регистрации на Сайте.
			p 1.8. Услуга(и) — услуги, предоставляемые Оператором.<br><br>

			p 2. СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ

			p 2.1. Оператор собирает и хранит только те Персональные данные, которые необходимы для оказания Услуг Оператором и взаимодействия с Пользователем.
			p 2.2. Персональные данные могут использоваться в следующих целях:
			p 2.2.1 оказание Услуг Пользователю;
			p 2.2.2 идентификация Пользователя;
			p 2.2.3 взаимодействие с Пользователем;
			p 2.2.4 направление Пользователю рекламных материалов, информации и p запросов;
			p 2.2.5 проведение статистических и иных исследований;
			p 2.2.6 обработка платежей Пользователя;
			p 2.2.7 мониторинг операций Пользователя в целях предотвращения p мошенничества, противоправных ставок, отмывания денег.
			p 2.3. Оператор в том числе обрабатывает следующие данные:
			p 2.3.1 фамилия, имя и отчество;
			p 2.3.2 адрес электронной почты;
			p 2.3.3 номер мобильного телефон;
			p 2.3.4 адрес сайта.
			p 2.4. Пользователю запрещается указывать на Сайте персональные данные третьих лиц.<br><br>

			p 3. ПОРЯДОК ОБРАБОТКИ ПЕРСОНАЛЬНЫХ И ИНЫХ ДАННЫХ

			p 3.1. Оператор обязуется использовать Персональные данные в соответствии с Федеральным Законом «О персональных данных» No 152-ФЗ от 27 июля 2006 г. и внутренними документами Оператора.
			p 3.2. В отношении Персональных данных и иных Данных Пользователя сохраняется их конфиденциальность, кроме случаев, когда указанные данные являются общедоступными.
			p 3.3. Оператор имеет право сохранять архивную копию Персональных данных и Данных, в том числе после удаления аккаунта Пользователя.
			p 3.4. Оператор имеет право передавать Персональные данные и Данные Пользователя без согласия Пользователя следующим лицам:
			p 3.4.1 государственным органам, в том числе органам дознания и следствия, и органам местного самоуправления по их мотивированному запросу;
			p 3.4.2 партнерам Оператора;
			p 3.4.3 в иных случаях, прямо предусмотренных действующим законодательством РФ.
			p 3.5. Оператор имеет право передавать Персональные данные и Данные третьим лицам, не указанным в п. 3.4. настоящей Политики конфиденциальности, в следующих случаях:
			p 3.5.1 Пользователь выразил свое согласие на такие действия;
			p 3.5.2 передача необходима в рамках использования Пользователем Сайта или оказания Услуг Пользователю;
			p 3.5.3 передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики.
			p 3.6. Оператор осуществляет автоматизированную обработку Персональных данных и Данных.<br><br>

			p 4. ИЗМЕНЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ

			p 4.1. Пользователь может в любой момент изменить (обновить, дополнить) Персональные данные посредством Личного кабинета либо путем направления письменного заявления Оператору на почту.
			p 4.2. Пользователь в любой момент имеет право удалить Персональные данные.
			p 4.3. Пользователь гарантирует, что все Персональные данные являются актуальными и не относятся к третьим лицам.<br><br>

			p 5. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ

			p 5.1. Оператор осуществляет надлежащую защиту Персональных и иных данных в соответствии с Законодательством и принимает необходимые и достаточные организационные и технические меры для защиты Персональных данных.
			p 5.2. Применяемые меры защиты в том числе позволяют защитить Персональные данные от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ними третьих лиц.<br><br>

			p 6. ПЕРСОНАЛЬНЫЕ ДАННЫЕ ТРЕТЬИХ ЛИЦ ИСПОЛЬЗУЕМЫЕ ПОЛЬЗОВАТЕЛЯМИ

			p 6.1. Используя Сайт Пользователь имеет право заносить данные третьих лиц для последующего использования.
			p 6.2. Пользователь обязуется получить согласие субъекта персональных данных на использование посредством Сайта.
			p 6.3. Оператор не использует персональные данные третьих лиц занесенные Пользователем.
			p 6.4. Оператор обязуется предпринять необходимые меры для обеспечения сохранности персональных данных третьих лиц, занесенных Пользователем.<br><br>

			p 7. ИНЫЕ ПОЛОЖЕНИЯ

			p 7.1. К настоящей Политике конфиденциальности и отношениям между Пользователем и Оператором, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
			p 7.2. Все возможные споры, вытекающие из настоящего Соглашения, подлежат разрешению в соответствии с действующим законодательством по месту регистрации Оператора. Перед обращением в суд Пользователь должен соблюсти обязательный досудебный порядок и направить Оператору соответствующую претензию в письменном виде. Срок ответа на претензию составляет 30 (тридцать) рабочих дней.
			p 7.3. Если по тем или иным причинам одно или несколько положений Политики конфиденциальности будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Политики конфиденциальности.
			p 7.4. Оператор имеет право в любой момент изменять Политику конфиденциальности (полностью или в части) в одностороннем порядке без предварительного согласования с Пользователем. Все изменения вступают в силу на следующий день после размещения на Сайте.
			p 7.5. Пользователь обязуется самостоятельно следить за изменениями Политики конфиденциальности путем ознакомления с актуальной редакцией.









.modal_wrap.modal-portfolio_wrap.modal-portfolio_wrap--red
	button.modal-close-btn(onclick="toggle('.modal-portfolio_wrap--red')") ×
	.modal-inner
		.modal-portfolio
			.swiper-container.pop-portfolio-slider
				.swiper-wrapper.portfolio-wrapper
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/2',
							ext: '.png',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic'
						})
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/2/2',
							ext: '.jpg',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic'
						})
				.swiper-button-prev
				.swiper-button-next

.modal_wrap.modal-portfolio_wrap.modal-portfolio_wrap--white
	button.modal-close-btn(onclick="toggle('.modal-portfolio_wrap--white')") ×
	.modal-inner
		.modal-portfolio
			.swiper-container.pop-portfolio-slider
				.swiper-wrapper.portfolio-wrapper
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/1',
							ext: '.png',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic'
						})
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/1/1',
							ext: '.png',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic',
						})
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/1/2',
							ext: '.jpg',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic'
						})
					//- .portfolio-slider_item.swiper-slide
					//- 	+pic({
					//- 		src: 'img/6-portfolio/1/4',
					//- 		ext: '.jpg',
					//- 		alt: 'portfolio-item',
					//- 		pictureClass: 'portfolio_pic'
					//- 	})
					//- .portfolio-slider_item.swiper-slide
					//- 	+pic({
					//- 		src: 'img/6-portfolio/1/5',
					//- 		ext: '.jpg',
					//- 		alt: 'portfolio-item',
					//- 		pictureClass: 'portfolio_pic'
					//- 	})
				.swiper-button-prev
				.swiper-button-next





+catatlogItemOpened({
	src: 'img/5-catalog/white',
	ext: '.png',
	model: 'ЭНЭЛ 60Т',
	cap: '60 м³/ч',
	price: '22 000 ₽',
	id: '2',
	volume: 'до 60 м³',
	u: '12/24, 220 В',
	sizes: '446х156х105',
	weight: '3,8',
	lamp: 'Лампа Т8, ресурс 8000 ч',
})

+catatlogItemOpened({
	src: 'img/5-catalog/black',
	ext: '.png',
	model: 'ЭНЭЛ100',
	cap: '100 м³/ч',
	price: '35 000 ₽',
	id: '3',
	volume: 'до 100 м³',
	u: '220',
	sizes: '1110х360х316',
	weight: '16.3',
	lamp: 'Эмальгамная лампа, до 16000 ч'
})

+catatlogItemOpened({
	src: 'img/5-catalog/white',
	ext: '.png',
	model: 'ЭНЭЛ200',
	cap: '250 м³/ч',
	price: '48 000 ₽',
	id: '4',
	volume: 'до 200 м³',
	u: '220 В',
	sizes: '1110х480х316 мм',
	weight: '24 кг',
	lamp: 'Эмальгамная лампа, до 16000 ч'
})

+catatlogItemOpened({
	src: 'img/5-catalog/black',
	ext: '.png',
	model: 'ЭНЭЛ150',
	cap: '150 м³/ч',
	price: '36 000 ₽',
	id: '5',
	volume: 'до 150 м³',
	u: '220 В',
	sizes: '1110х140х160 мм',
	weight: '13 кг',
	lamp: 'Эмальгамная лампа, до 16000 ч'

})
+catatlogItemOpened({
	src: 'img/5-catalog/white',
	ext: '.png',
	model: 'ЭНЭЛ300',
	cap: '300 м³/ч',
	price: '56 000 ₽',
	id: '6',
	volume: 'до 300 м³',
	u: '220 В',
	sizes: '1110х140х280 мм',
	weight: '17 кг',
	lamp: 'Эмальгамная лампа, до 16000 ч'

})
+catatlogItemOpened({
	src: 'img/5-catalog/black',
	ext: '.png',
	model: 'ЭНЭЛ2000',
	cap: '2000',
	price: '185 000 ₽',
	id: '7',
	volume: 'до 2000 м³',
	u: '220 В',
	sizes: '700х650х210 мм',
	weight: '70 кг',
	lamp: 'Эмальгамная лампа, до 16000 ч'

})
+catatlogItemOpened({
	src: 'img/5-catalog/white',
	ext: '.png',
	model: 'ЭНЭЛ5000',
	cap: '5000',
	price: '220 000 ₽',
	id: '8',
	volume: 'до 5000 м³',
	u: '220 В',
	sizes: '1370х610х1190 мм',
	weight: '104 кг',
	lamp: 'Эмальгамная лампа, до 16000 ч'

})