.modal_wrap.modal-callback_wrap
    button.modal-close-btn(onclick="toggle('.modal-callback_wrap')") ×
    .modal-inner
        .modal-callback.shader
            h3.modal-title Заказать звонок
            .questions-form
                .questions-inputs
                    input(name="formName" type="text").form-name
                    input(name="name" placeholder="Ваше имя" required).g-input.question_input
                    input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
                    .questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
                .question-button
                    button.btn-prim.questions_btn Заказать
                    .question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных
