.modal_wrap.modal-callback_wrap
	button.modal-close-btn ×
	.modal-inner
		.modal-callback.shader
			h3.modal-title Заказать звонок
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных



.modal_wrap.modal-product-more_wrap
	button.modal-close-btn ×
	.modal-inner
		.modal-product-more.shader
			.modal-product-more_wrap
				.modal-product-slider.swiper-container
					.swiper-wrapper
						.swiper-slide
						.swiper-slide
						.swiper-slide
					.swiper-pagination
					.swiper-button-prev
					.swiper-button-next
				.modal-product-stats
					.modal-product-stats-name
						h3.modal-product-stats-name_model Модель 1
						span.modal-product-stats-name_capability (Производительность)
					.modal-product-sizes
						.modal-product-sizes-row
							span.modal-product-sizes_name Объем помещения: 
							span.modal-product-sizes_value 12м2
						.modal-product-sizes-row
							span.modal-product-sizes_name Напряжение питания:
							span.modal-product-sizes_value  4.7В
						.modal-product-sizes-row
							span.modal-product-sizes_name Габариты ДхШхВ: 
							span.modal-product-sizes_value 120мм
						.modal-product-sizes-row
							span.modal-product-sizes_name Масса:
							span.modal-product-sizes_value 3кг
					.modal-product-additional Гарантия
					.modal-product-additional Лапа
					.modal-product-includes
						.modal-product-includes_title Комплектация:
						.modal-product-includes_item - Рециркулятор бактерицидный модель
						.modal-product-includes_item - Технический паспорт
						.modal-product-includes_item - Кабель питания
						.modal-product-includes_item - Крепления


.modal_wrap.modal-order_wrap
	button.modal-close-btn ×
	.modal-inner
		form.modal-order.shader
			.modal-top
				h3.modal-title.modal-title--order Заказать звонок
				.order-details
					+pic({
						src: 'img/5-catalog/black',
						ext: '.png',
						alt: '',
						pictureClass: 'order-details_pic'
					})
					.order-details-name
						.order-details-name_model Модель 1
						.order-details-name_capacity (Производительность)
					.order-stepper
						button(type="button").order-stepper_minus -
						input(type="number" value="1").order-stepper_count
						button(type="button").order-stepper_plus +
			.questions-form
				.questions-inputs
					input(name="formName" type="text").form-name
					input(name="name" placeholder="Ваше имя" required).g-input.question_input
					input(name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="Введите свой номер телефона" required).question_input.g-input
					.questions-inputs_caption Ваш номер телефона будет использоваться для связи с вами
				.question-button
					button.btn-prim.questions_btn Заказать
					.question_privacy.privacy При нажатии на кнопку «Заказать» Вы соглашаетесь на обработку персональных данных






.modal_wrap.modal-certificate_wrap
	button.modal-close-btn ×
	.modal-inner
		.modal-certificate
			+pic({
				src: 'img/papers/certificate',
				alt: '',
				ext: '.png',
			})









.modal_wrap.modal-privacy_wrap
	button.modal-close-btn ×
	.modal-inner
		.modal-privacy
			h3.modal-privacy_title Политика в отношении обработки персональных данных
			p.modal-privacy_bullet 1. Общие положения
			p.modal-privacy_text Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем (далее – Оператор).<br>		1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.<br>1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта 
				| #{url}

			p.modal-privacy_bullet 2. Основные понятия, используемые в Политике
			p.modal-privacy_text 2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;<br>2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);<br>2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу 
				| #{url} <br>2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих









.modal_wrap.modal-portfolio_wrap
	button.modal-close-btn ×
	.modal-inner
		.modal-portfolio
			.swiper-contaienr
				.portfolio-slider.swiper-wrapper
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/2',
							ext: '.png',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic'
						})
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/1',
							ext: '.png',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic'
						})
					.portfolio-slider_item.swiper-slide
						+pic({
							src: 'img/6-portfolio/2',
							ext: '.png',
							alt: 'portfolio-item',
							pictureClass: 'portfolio_pic'
						})
				.swiper-button-prev
				.swiper-button-next

						