:root {
    --c-font: #333;
    --c-font-2: #b9b9b9;
    --c-prim: #2475d6;
    --grad-btn: linear-gradient(132.85deg, #4875e8 1.56%, #2475d6 100%);

    margin: 0;
    padding: 0;
}
.hahaha{
    display: flex;
    justify-content: center;
}
.bro{
    font-size: 50px;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--c-font);
}

p, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

picture img {
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    cursor: pointer;
}
.btn-prim {
    border: none;
    transition: background-color 0.3s;
    box-sizing: border-box;
    border: 3px solid var(--c-prim);
}

.btn-prim:hover {
}

.g-hidden {
    display: none;
}

.g-form-name {
    display: none;
}

