html {
  --c-font: #333;
  --c-font-2: #b9b9b9;
  --c-prim: #2475d6;
  --grad-btn: linear-gradient(132.85deg,#4875e8 1.56%,#2475d6);
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font: 16px Museo-500,sans-serif;
  color: #333;
  color: var(--c-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.em-bold {
  font-family: Moseo-600,sans-serif;
  font-weight: 600;
  font-style: normal;
}

.em-color {
  background: var(--c-prim);
  color: #fff;
  font-style: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-prim {
  font: 600 16px Museo-600,sans-serif;
  background: linear-gradient(132.85deg,#4875e8 1.56%,#2475d6);
  background: var(--grad-btn);
  color: #fff;
  border-radius: 50px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.section-title {
  font: 700 30px Museo-700,sans-serif;
  text-align: center;
  margin-bottom: 13px;
}

.unem-title {
  font-weight: 300;
  font-style: normal;
}

.section-subtitle {
  text-align: center;
  max-width: 415px;
  font-family: Museo-300,sans-serif;
  font-weight: 300;
  margin: 0 auto 60px;
}

.form-name {
  display: none;
}

.privacy {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  line-height: 1.4;
}

.quiz-privacy {
  max-width: 50%;
}

@font-face {
  font-family: Museo-300;
  src: local("MuseoSansCyrl-300"),url(fonts/MuseoSansCyrl-300.woff),url(fonts/MuseoSansCyrl-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: Museo-400;
  src: local("MuseoSansCyrl-400"),url(fonts/MuseoSansCyrl-400.woff),url(fonts/MuseoSansCyrl-400.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Museo-500;
  src: local("MuseoSansCyrl-500"),url(fonts/MuseoSansCyrl-500.woff),url(fonts/MuseoSansCyrl-500.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Museo-600;
  src: local("MuseoSansCyrl-600"),url(fonts/MuseoSansCyrl-600.woff),url(fonts/MuseoSansCyrl-600.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Museo-700;
  src: local("MuseoSansCyrl-700"),url(fonts/MuseoSansCyrl-700.woff),url(fonts/MuseoSansCyrl-700.woff2);
  font-weight: 700;
}

.header {
  background: #fff;
  padding-top: 16px;
  padding-bottom: 17px;
  position: fixed;
  z-index: 20;
  width: 100vw;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.header-container {
  justify-content: space-between;
}

.header-container,
.logo {
  display: flex;
  align-items: center;
}

.logo {
  justify-content: flex-start;
  max-width: 278px;
}

.logo_pic {
  margin-right: 21px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav_item {
  margin-right: 24.5px;
  margin-left: 24.5px;
  list-style: none;
}

.nav_item-lnk {
  color: #333;
  color: var(--c-font);
  text-decoration: none;
  font-family: Museo-400,sans-serif;
}

.nav_item:hover .nav_item-lnk {
  color: #2475d6;
  color: var(--c-prim);
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-contacts_phone {
  font: 600 18px Museo-600,sans-serif;
  color: #333;
  color: var(--c-font);
  text-decoration: none;
  margin-bottom: 3px;
}

.header-contacts_phone:hover {
  color: #2475d6;
  color: var(--c-prim);
}

.header-contacts_callback {
  border: none;
  border-bottom: 1px dashed #333;
  border-bottom: 1px dashed var(--c-font);
  font-size: 14px;
  font-weight: 300;
  background: transparent;
}

.header-contacts_callback:hover {
  color: #2475d6;
  color: var(--c-prim);
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero {
  background: url(../img/1-hero/hero-bg.png) 0 0/cover;
  padding-top: 80px;
}

.headliner {
  font-size: 30px;
  line-height: 1.4;
  max-width: 557px;
  font-weight: 300;
  margin-bottom: 46px;
}

.header-quiz_wrap {
  max-width: 476px;
  background: #fff;
  padding: 9px 8px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  box-shadow: 0 14px 40px rgba(163,169,183,.17);
  transform-style: preserve-3d;
}

.header-quiz_wrap:after {
  background: #efefef;
  content: "";
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: .8;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  z-index: -5;
  border-radius: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  transform: translateZ(-1px);
}

.header-quiz {
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 21px 21px 26px 22px;
}

.quiz_title {
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 25px;
}

.quiz-page-1 {
  background: #fff;
  border-radius: 5px;
}

.quiz_question {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.quiz-progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.quiz-progress-bar_point {
  box-shadow: 0 1px 4px hsla(0,0%,56.1%,.2);
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  border: 1px solid #ededed;
  position: relative;
}

.progress-bar_wrap {
  width: 97%;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 0;
  height: 8px;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: auto;
  transition: all .5s;
  z-index: -1;
}

.progress-bar_wrap--2 {
  background: linear-gradient(45deg,#2475d6 33%,hsla(0,0%,100%,0) 0);
  background: linear-gradient(45deg,var(--c-prim) 33%,hsla(0,0%,100%,0) 0);
}

.progress-bar_wrap--3 {
  background: linear-gradient(45deg,#2475d6 66%,hsla(0,0%,100%,0) 0);
  background: linear-gradient(45deg,var(--c-prim) 66%,hsla(0,0%,100%,0) 0);
}

.progress-bar_wrap--4 {
  background: linear-gradient(45deg,#2475d6 99%,hsla(0,0%,100%,0) 0);
  background: linear-gradient(45deg,var(--c-prim) 99%,hsla(0,0%,100%,0) 0);
}

.quiz-point--current {
  position: relative;
}

.quiz-point--current:after {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: 50%/10px,#2475d6;
  background: 50%/10px,var(--c-prim);
  background-repeat: no-repeat;
  z-index: 2;
}

.quiz-point--current:after,
.quiz-progress-bar_line:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.quiz-progress-bar_line:before {
  background: linear-gradient(45deg,transparent 45%,#ebe9e0 0,#ebe9e0 55%,transparent 0) 0 0/9px;
  width: 98%;
  height: 8px;
  border: 1px solid #f2f2f2;
  z-index: 1;
}

.quiz-progress-bar_point:last-child:before {
  display: none;
}

.quiz-progress-bar_point--checked:after {
  content: "";
  display: block;
  background: linear-gradient(132.85deg,#4875e8 1.56%,#2475d6);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.quiz-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
}

.quiz-answers--left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.quiz-answers--left .quiz-anser-item_text,
.quiz-answers--left .quiz-answers-item_wrap {
  margin: 0;
}

.quiz-answers-item {
  position: relative;
  display: block;
  height: 66px;
  transition: all .3s;
}

.quiz-answers-item_wrap {
  margin: 0 auto;
}

.quiz-anser-item_text {
  font: 14px/1.3 Museo-400,sans-serif;
  padding: 11px 16px 11px 17px;
  margin: 0 0 20px;
  border-radius: 5px;
  position: relative;
  display: block;
  border: 2px solid transparent;
}

.quiz-answer-item_input {
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
}

.quiz-anser-item_chekbox {
  box-shadow: 0 1px 4px hsla(0,0%,56.1%,.2);
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.quiz-anser-item_chekbox--left {
  margin: auto 0;
  position: relative;
  bottom: 0;
  right: unset;
  left: 0;
}

.quiz-answer-item_input:checked~.quiz-anser-item_chekbox:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/1-hero/quiz-pick.svg) 50%/10px,#2475d6;
  background: url(../img/1-hero/quiz-pick.svg) 50%/10px,var(--c-prim);
  background-repeat: no-repeat;
  z-index: 2;
}

.quiz-anser-item_chekbox--2:after {
  background: url(../img/1-hero/quiz-pick.svg) 50%/10px,linear-gradient(132.85deg,#4875e8 1.56%,#2475d6);
}

.quiz-answer-item_input:checked~.quiz-anser-item_text {
  border: 2px solid #2475d6;
  border: 2px solid var(--c-prim);
}

.quiz-answer-item_input:checked~.quiz-anser-item_text--left {
  border: 2px solid transparent;
}

.quiz-contorls {
  display: flex;
  justify-content: flex-end;
}

.quiz-controls_next {
  padding-left: 76px;
  padding-right: 75px;
}

.quiz-controls_prev {
  font: 400 14px Museo-400,sans-serif;
  background: transparent;
  color: #b9b9b9;
  color: var(--c-font-2);
  border: none;
  margin-right: 20px;
}

.quiz-answers-item--left {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}

.quiz-page-5-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.quiz-btn,
.quiz-phone {
  max-width: 300px;
  width: 300px;
  margin-bottom: 25px;
}

.header-quiz {
  position: relative;
}

.quiz-page-1 {
  position: relative;
  z-index: 5;
}

.quiz-page-1,
.quiz-page-2 {
  background: #fff;
  transform: translateX(0);
  transition: all .3s;
}

.quiz-page-2 {
  position: absolute;
  z-index: 4;
  display: none;
}

.quiz-page-3 {
  z-index: 3;
}

.quiz-page-3,
.quiz-page-4 {
  background: #fff;
  position: absolute;
  display: none;
  transform: translateX(0);
  transition: all .3s;
}

.quiz-page-4 {
  z-index: 2;
}

.quiz-page-5 {
  background: #fff;
  position: absolute;
  z-index: 1;
  display: none;
  transform: translateX(0);
  transition: all .3s;
}

.quiz-page--current {
  transform: translateX(0);
  position: relative;
  display: block;
  transition: all .5s;
}

.quiz-page--answered {
  transition: all .5s;
  position: absolute;
  transform: translateX(-1000px);
}

.hero-right {
  position: relative;
  width: 50%;
  padding-top: 75px;
}

.hero-card_wrap {
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 144px;
  position: absolute;
  z-index: 5;
}

.hero-card_clear {
  left: 0;
  top: 120px;
}

.hero-card_quiet {
  right: 0;
  top: 20px;
}

.hero-card {
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  border-radius: 5px;
  border: 1px solid #efefef;
  width: 100%;
}

.hero-cart_triangle {
  width: 36px;
  height: 30px;
  -webkit-clip-path: polygon(50% 100%,0 0,100% 0);
  clip-path: polygon(50% 100%,0 0,100% 0);
}

.hero-card_text {
  margin-bottom: 53px;
  position: relative;
  text-align: center;
  font-size: 18px;
  display: block;
}

.hero-card_text:after {
  background: var(--c-prim);
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 2px;
  bottom: -16px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.hero-card_pic {
  max-width: 94px;
  margin: 0 auto 6px;
}

.hero_pic {
  position: relative;
}

.hero_pic:after {
  content: url(../img/0-common/arrow.svg);
  position: absolute;
  top: 170px;
  right: 50px;
}

.bullets {
  margin-bottom: 100px;
}

.bullets-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bullet-item {
  max-width: 30%;
  text-align: center;
}

.bullet-item--sketch {
  padding-top: 80px;
}

.bullet-item_title {
  line-height: 1.3;
  margin: 0 0 5px;
  font-size: 18px;
}

.bullet-item_text {
  font-size: 15px;
  line-height: 1.35;
  margin: 0;
}

.bullet-item_plant {
  margin-bottom: -25px;
}

.danger {
  margin-bottom: 100px;
}

.danger-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.danger_text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 44px;
  max-width: 476px;
}

.danger-left,
.danger-right {
  width: 50%;
}

.danger-slider {
  max-width: 575px;
  max-height: 430px;
  border-radius: 5px;
  box-shadow: 0 14px 40px rgba(163,169,183,.17);
  transform-style: preserve-3d;
  position: relative;
  background: #fff;
}

.danger-slider:after {
  background: #efefef;
  content: "";
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: .8;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  z-index: -5;
  border-radius: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  transform: translateZ(-1px);
}

.danger-tag_wrap {
  border-radius: 5px;
  background: #fafafa;
  padding: 5px;
  display: inline-block;
}

.danger-tag {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 32px 15px 25px;
}

.danger-slide {
  padding-top: 16px;
  padding-bottom: 46px;
}

.danger-slide-1 {
  position: relative;
}

.danger_icon {
  top: 23px;
  left: 46px;
  display: inline-block;
  max-width: 130px;
}

.danger-tag_wrap,
.danger_icon {
  position: absolute;
}

.danger-tag_left {
  top: 45%;
  left: 38px;
}

.danger-tag_left:after {
  content: url(../img/0-common/arrow.svg);
  position: absolute;
  bottom: -80px;
  right: 0;
  transform: scaleX(-1);
}

.danger-tag_right {
  top: 10%;
  right: 85px;
}

.danger-tag_right:after {
  content: url(../img/0-common/arrow.svg);
  position: absolute;
  bottom: -80px;
  left: 0;
}

.features {
  background: url(../img/4-features/bg.jpg);
  background-size: cover;
  margin-bottom: 110px;
}

.features-title {
  margin-bottom: 128px;
}

.features-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-cards--left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 400px;
}

.features-card--left-1 {
  margin-right: 30px;
}

.features-card--left-2 {
  margin-right: 50px;
}

.features-cards--right {
  max-width: 800px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.features-card--right-1 {
  margin-right: 15%;
}

.features-card--right-2 {
  margin-right: 5%;
}

.features-card--right-3 {
  margin-right: 15%;
}

.features-card--right-4 {
  margin-right: 23%;
}

.feature-card_wrap {
  background: #cfe3fa;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}

.feature-card {
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.feature-card_title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 1.3;
}

.feature-card_text {
  line-height: 1.3;
  font-size: 14px;
}

.features_pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
}

.catalog {
  margin-bottom: 110px;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.catalog-item {
  background: #fff;
  display: flex;
  flex-direction: column;
  max-width: 278px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0 12px 40px rgba(163,169,183,.17);
  border-radius: 5px;
  padding: 7px 9px 35px 20px;
  box-sizing: border-box;
  grid-gap: 20px 21px;
  margin-bottom: 42px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item:after {
  background: #efefef;
  content: "";
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: .8;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  z-index: -5;
  border-radius: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  transform: translateZ(-1px);
}

.catalog-item-name {
  display: flex;
  margin-bottom: 15px;
}

.catalog-item-name_model {
  font-size: 16px;
  margin-right: 5px;
}

.catalog-item-name_capability {
  color: #b9b9b9;
  color: var(--c-font-2);
}

.catalog-item-price {
  display: flex;
  margin-bottom: 5px;
}

.catalog-item-price_value {
  margin-right: 8px;
  font-size: 18px;
  font-weight: 700;
}

.catalog-item-price_vat {
  color: #b9b9b9;
  color: var(--c-font-2);
}

.catalog-item-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
}

.catalog-item-buttons_more {
  font-size: 14px;
  line-height: 1.3;
  border: none;
  border-bottom: 1px solid #333;
  border-bottom: 1px solid var(--c-font);
  color: #333;
  color: var(--c-font);
  background: transparent;
  margin-right: 16px;
  padding-left: 0;
  padding-right: 0;
}

.catalog-item-buttons_more:hover {
  color: #2475d6;
  color: var(--c-prim);
  border-color: #2475d6;
  border-color: var(--c-prim);
}

.catalog-item-buttons_order {
  padding-left: 38px;
  padding-right: 38px;
  margin-right: 11px;
}

.portfolio {
  margin-bottom: 124px;
}

.portfolio_title {
  margin-bottom: 50px;
}

.portfolio-slider_item {
  max-width: 327px;
  box-sizing: border-box;
  padding: 10px;
  background: #e6eff7;
  margin-right: 10px;
  margin-left: 10px;
}

.portfolio_pic {
  margin-bottom: 10px;
  position: relative;
}

.portfolio_pic:before {
  width: 100%;
  height: 2px;
}

.portfolio_pic:after,
.portfolio_pic:before {
  background: var(--c-prim);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

.portfolio_pic:after {
  width: 30%;
  height: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.portfolio-text {
  background: #fff;
  padding: 20px;
}

.portfolio-text_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 10px;
}

.portfolio-text_descr {
  font-size: 14px;
  line-height: 1.45;
  font-weight: 300;
}

.portfolio-slider-container {
  max-width: 100%;
}

.portfolio-slider {
  max-width: 89%;
  margin: 0 auto;
}

.pricing {
  background: url(../img/7-price/price-bg.png) 0 0/cover;
  padding-bottom: 150px;
}

.pricing-form_wrap {
  background: #fff;
  max-width: 407px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.pricing-form {
  padding: 25px 30px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #efefef;
}

.shader {
  position: relative;
  z-index: 2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  box-shadow: 0 14px 40px rgba(163,169,183,.17);
  transform-style: preserve-3d;
}

.shader:after {
  background: #efefef;
  content: "";
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: .8;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  z-index: -5;
  border-radius: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  transform: translateZ(-1px);
}

.g-input {
  background: #f6f6f8;
  border: 1px solid #f6f6f8;
  box-sizing: border-box;
  box-shadow: inset 0 4px 4px #eaeaef;
  border-radius: 50px;
  font-size: 14px;
  padding-top: 18px;
  padding-bottom: 16px;
  padding-left: 25px;
  width: 100%;
  margin-bottom: 25px;
}

.pricing-form_title {
  line-height: 1.35;
  font-size: 20px;
  margin-bottom: 15px;
}

.pricing-form_descr {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 25px;
  position: relative;
}

.pricing-form_descr:after {
  content: url(../img/7-price/whatsapp.svg);
  position: absolute;
  top: -30px;
  right: 0;
}

.pricing-form_submit {
  width: 100%;
  margin-bottom: 25px;
}

.pricing-container {
  position: relative;
}

.pricing_pic {
  position: absolute;
  top: -80%;
  left: 15%;
  z-index: 0;
  transform: scale(.7);
}

.about {
  padding-top: 50px;
  margin-bottom: 90px;
}

.about-title {
  margin-bottom: 50px;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left {
  max-width: 42%;
}

.about-stats {
  display: flex;
  margin-bottom: 35px;
  padding-left: 30px;
}

.about-stats-item {
  margin-right: 80px;
}

.about-stats-item_number {
  font-weight: 700;
  color: #2475d6;
  color: var(--c-prim);
  font-size: 36px;
}

.about-stats-item_name {
  font-size: 16px;
  line-height: 1.2;
}

.about-features-item {
  display: flex;
  align-items: center;
}

.about-features-item_pic {
  margin-right: 4px;
  min-width: 121px;
  max-width: 121px;
}

.about-features-item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

.em-only-color {
  color: #2475d6;
  color: var(--c-prim);
  font-style: normal;
  font-weight: 700;
}

.about-video-wrap {
  background: #000;
  width: 595px;
  height: 388px;
  border-radius: 5px;
  position: relative;
  background: linear-gradient(247.14deg,#2475d6 -4.23%,rgba(16,57,104,0) 26.66%,rgba(11,40,74,0) 45.38%,rgba(16,54,99,0) 68.55%,#2475d6 104.3%);
}

.about-video_play-button {
  background: var(--c-prim);
  height: 80px;
  width: 80px;
  border-radius: 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: none;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-video_play-button:hover {
  transform: scale(1.3);
  transition: all .3s;
}

.questions {
  background: #fff;
  max-width: 972px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 50px;
  position: relative;
  margin: 0 auto 114px;
}

.questions:before {
  background: url(../img/8-about/phone.png) no-repeat 0 0/cover;
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: -1;
  width: 299px;
  height: 216px;
}

.questions-title {
  font-size: 30px;
  text-align: left;
  margin-bottom: 21px;
}

.questions_descr {
  margin-bottom: 40px;
  max-width: 50%;
  font-size: 16px;
  line-height: 1.3;
}

.questions-form {
  display: flex;
  justify-content: space-between;
}

.questions-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
}

.question_input {
  margin-right: 16px;
  max-height: 60px;
  max-width: 280px;
}

.question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 29%;
}

.questions_btn {
  width: 260px;
  max-width: 275px;
  padding-top: 20px;
  padding-bottom: 19px;
  margin-bottom: 16px;
  max-height: 60px;
}

.questions-inputs_caption {
  color: #8c94a2;
  font-size: 14px;
}

.certificates {
  margin-bottom: 72px;
}

.certificates-slider {
  width: 1030px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.certificates_pic {
  background: #e6eff7;
  padding: 10px;
  max-width: 499px;
}

.certificate-slide {
  max-width: 518px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #2b313f;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 35px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_descriptor--footer {
  font-size: 12px;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 75%;
}

.footer-text {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-text:hover {
  color: #2475d6;
  color: var(--c-prim);
}

.footer-geo {
  max-width: 338px;
}

.footer-email,
.footer-geo {
  display: flex;
  align-items: flex-start;
}

.footer-phone {
  display: flex;
}

.footer-phone.footer-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-btn {
  background: #fff;
  width: 100%;
  color: #2b313f;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.footer-icon,
.social-icon {
  margin-right: 15px;
}

.footer-social-link:hover .icon-color-this {
  fill: #2475d6;
  fill: var(--c-prim);
}

.footer-privacy {
  background: transparent;
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  max-width: 300px;
  margin: 0 auto;
}

.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,.7);
  width: 100vw;
}

.modal-inner,
.modal_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-inner {
  transition: all .3s;
}

.modal-title {
  font-size: 30px;
  margin-bottom: 45px;
}

.modal-callback {
  background: #fff;
  border-radius: 5px;
  max-width: 972px;
  padding: 50px;
  box-sizing: border-box;
  transition: all .3s;
}

.modal-close-btn {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 30px;
  height: 30px;
  background: hsla(0,0%,100%,.1);
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  border: none;
  font-size: 20px;
}

.modal-callback_wrap,
.modal-product-more_wrap {
  display: none;
  visibility: hidden;
  transition: all .3s;
}

.modal-product-more {
  background: #fff;
  border-radius: 5px;
  width: 972px;
  padding: 50px;
  box-sizing: border-box;
}

.modal-product-more_inner {
  display: flex;
  justify-content: space-between;
}

.modal-product-slider {
  max-width: 450px;
  margin-right: 70px;
  margin-left: 0;
}

.modal-product_pic {
  height: 340px;
}

.modal-product_pic img {
  height: 100%;
}

.modal-title--product {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.modal-product-stats-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modal-product-stats-name_model {
  font-size: 25px;
  font-weight: 700;
  margin-right: 6px;
}

.modal-product-stats-name_capability {
  color: #b9b9b9;
  color: var(--c-font-2);
}

.modal-product-sizes {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 15px;
}

.modal-product-sizes_name {
  color: #b9b9b9;
  color: var(--c-font-2);
}

.modal-product-sizes_value {
  font-weight: 600;
}

.modal-product-additional {
  font-weight: 700;
  line-height: 2;
}

.modal-product-includes {
  padding-top: 25px;
  line-height: 2;
  margin-bottom: 50px;
}

.modal-product-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-product_input {
  font-size: 14px;
  max-width: 275px;
  margin-bottom: 0;
}

.modal-products_btn {
  font-size: 16px;
  padding: 16px 68px;
  line-height: 1;
}

.modal-product-pagination {
  bottom: 90px!important;
}

.modal-order_wrap {
  display: none;
  visibility: hidden;
  transition: all .3s;
}

.modal-order {
  background: #fff;
  border-radius: 5px;
  max-width: 972px;
  padding: 50px;
  box-sizing: border-box;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details_pic img {
  width: 100%;
  height: 100%;
}

.order-details_pic {
  width: 65px;
  height: 65px;
  margin-right: 18px;
}

.order-details-name {
  margin-right: 50px;
}

.modal-title--order {
  margin-bottom: 0;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.order-stepper {
  display: flex;
}

.order-stepper_count {
  background: #f5f5f5;
  border: none;
  max-width: 30px;
  text-align: center;
}

.order-stepper_minus,
.order-stepper_plus {
  background: #f5f5f5;
  border: none;
  color: #a5a5a5;
  padding: 7px 15px;
}

.modal-certificate_wrap {
  display: none;
  visibility: hidden;
}

.modal-certificate {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 90vh;
  max-width: 45vw;
}

.modal-certificate img,
.modal-certificate picture {
  width: 100%;
  height: 100%;
}

.modal-privacy {
  background: #fff;
  max-width: 615px;
  border: 10px solid #e6eff7;
  padding: 25px 21px;
}

.modal-privacy_title {
  margin-bottom: 17px;
}

.modal-privacy_bullet {
  font-weight: 600;
}

.modal-privacy_text {
  margin-bottom: 20px;
}

.modal-portfolio_wrap,
.modal-privacy_wrap {
  display: none;
  visibility: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  background: #2475d6;
  background: var(--c-prim);
  width: 46px;
  height: 46px;
  border-radius: 46px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
  font-weight: 700;
  font-size: 21px;
}

.swiper-button-next:prev {
  margin-right: 3px;
}

.swiper-button-next:after {
  margin-left: 3px;
}

.swiper-pagination-bullet {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  border: 2px solid #2475d6;
  border: 2px solid var(--c-prim);
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #2475d6;
  background: var(--c-prim);
}

.catalog_title {
  margin-bottom: 50px;
}

@media (max-width:480px) {
  .header-logo_descriptor,
  nav {
    display: none;
  }

  .section-title {
    font-size: 18px;
    font-weight: 700;
  }

  .hero_pic img {
    width: 100%;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-right {
    width: 100%;
  }

  .bullets-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bullet-item {
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }

  .bullets {
    margin-bottom: 50px;
  }

  .danger-subtitle,
  .danger-title {
    text-align: left;
  }

  .danger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .danger-left,
  .danger-right,
  .danger-slide-1_pic img {
    width: 100%;
  }

  .catalog {
    margin-bottom: 60px;
  }

  .catalog-container {
    justify-content: center;
  }

  .features-container {
    flex-direction: column;
  }

  .feature-card_wrap {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .features-cards {
    align-items: stretch;
  }

  .features-cards--right {
    width: 100%;
    max-width: 100%;
  }

  .features_pic {
    position: relative;
    order: 5;
    width: 100%;
    margin-bottom: 30px;
  }

  .features_pic img {
    width: 100%;
  }

  .hero-card_text {
    font-size: 12px;
  }

  .pricing {
    padding-bottom: 0;
  }

  .pricing_pic {
    transform: scale(1);
    position: relative;
    top: 40px;
    right: 0;
    left: 0;
    max-width: 170%;
  }

  .pricing_pic img {
    width: 100%;
  }

  .pricing-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .portfolio_pic img {
    width: 100%;
  }

  .about-container {
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about-video-wrap {
    width: 100%;
    height: 200px;
  }

  .header-quiz {
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-callback {
    max-width: 95%;
    padding: 30px 20px;
  }

  .quiz-anser-item_text {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
  }

  .portfolio-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-slider_item {
    margin-bottom: 15px;
  }

  .portfolio-next,
  .portfolio-prev {
    display: none;
  }

  .questions {
    padding: 20px;
    width: 95%;
  }

  .questions:before {
    display: none;
  }

  .question-button,
  .questions_descr {
    max-width: 100%;
  }

  .questions-inputs_caption {
    display: none;
  }

  .questions-form {
    flex-direction: column;
  }

  .questions-inputs {
    margin-right: 0;
    align-items: center;
  }

  .question_input {
    margin-right: auto;
    margin-left: auto;
  }

  .modal-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .order-details {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100px;
  }

  .about-stats {
    padding-left: 0;
  }

  .about-features-item {
    flex-direction: column;
    max-width: 100%;
  }

  .about-stats {
    display: flex;
    justify-content: space-around;
  }

  .about-stats-item {
    margin-right: 0;
  }

  .about-stats-item_name {
    font-size: 14px;
  }

  .about-left {
    max-width: 100%;
    margin-bottom: 25px;
  }

  .about-features-item_text {
    text-align: center;
    width: 100%;
  }

  .hero-card_wrap {
    width: 102px;
  }

  .questions_btn {
    max-width: 280px;
    width: 280px;
  }

  .certificte-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .certificte-slider,
  .footer-container {
    flex-direction: column;
  }

  .footer-links {
    position: relative;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-geo,
  .footer .logo {
    margin-bottom: 18px;
  }

  .footer-btn {
    display: none;
  }

  .footer-phone.footer-text {
    font-size: 12px;
  }

  .footer-icon {
    margin-right: 5px;
  }

  .footer-calling,
  .footer-email {
    max-width: 45%;
  }

  .footer-socials {
    position: absolute;
    top: -40px;
    right: 0;
  }

  .logo_descriptor--footer {
    font-size: 10px;
  }

  .features-title {
    margin-bottom: 62px;
  }

  .modal-order {
    padding: 20px;
  }

  .modal-title {
    font-size: 18px;
    margin-bottom: 26px;
    text-align: left;
  }

  .btn-prim,
  .g-input {
    font-size: 12px;
  }

  .pricing-form_submit {
    font-size: 10px;
  }

  .pricing-form_descr:after {
    display: none;
  }

  .modal-privacy {
    max-height: 70vh;
    overflow-y: scroll;
  }

  .modal-close-btn {
    top: 20px;
    right: 15px;
  }

  .modal-product-more {
    width: 95%;
    max-height: 80vh;
    padding: 20px;
    flex-direction: column;
    overflow: auto;
  }

  .modal-product-more:after {
    display: none;
  }

  .modal-product-slider {
    margin-right: 0;
  }

  .modal-product-more_inner {
    flex-direction: column-reverse;
  }

  .modal-product-stats-name_model {
    font-size: 18px;
  }

  .modal-product-includes {
    padding-top: 15px;
  }

  .modal-product-form {
    flex-direction: column;
  }

  .modal-product_input {
    margin-bottom: 15px;
  }

  .modal-products_btn {
    width: 100%;
    max-width: 275px;
  }

  .pricing-form_privacy {
    font-size: 10px;
  }

  .danger_icon {
    max-width: 75px;
    top: 11px;
    left: 15px;
  }

  .danger_icon img,
  .danger_icon picture {
    width: 100%;
  }

  .danger-tag {
    padding: 22px 8px;
    font-size: 12px;
  }

  .danger-tag_left:after,
  .danger-tag_right:after {
    display: none;
  }

  .danger-tag_left {
    left: 14px;
  }

  .danger-tag_right {
    right: 12px;
  }

  .about-features-item_text {
    margin-bottom: 26px;
  }

  .hero-container {
    margin-bottom: 550px;
  }

  .header-quiz_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 210vw;
  }
}

@media (max-width:360px) {
  .header-quiz_wrap {
    top: 230vw;
  }
}
/*# sourceMappingURL=style.css.map */
