.program-tab {
  counter-reset: module;
}
.program-tab__cards {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 55px;
  display: grid;
  gap: 45px;
  justify-content: center;
  &.gallery--2 {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    .program-tab-card__img {
      object-position: left;
    }
  }
  &.gallery--3 {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}
.program-tab__card--material {
  max-width: 510px;
  width: 100%;
  padding: 30px 40px 30px 20px;
  background: #ffffff;
  box-shadow: 0px 6px 6px rgba(200, 200, 200, 0.25);
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  &::after {
    content: "";
    display: block;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: 1px solid #f2f2f2;
    filter: drop-shadow(0px 6px 6px rgba(223, 223, 223, 0.3));
    border-radius: 5px;
    position: absolute;
    left: 6px;
    top: 6px;
  }
  .program-tab-card__desc {
    text-align: left;
  }
}
.program-tab-card__img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  height: 140px;
  margin-bottom: 10px;
}
.program-tab-card__title {
  font-family: var(--ff-bold);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 10px;
}

.program-tab-card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  text-align: center;
}

.program-tab__descr {
  margin-bottom: 0;
}
.program-tab-descr-wrapper {
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--ff-bold);
  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../img/0-general/attention.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 18px;
  }
}

.programm-module {
  counter-increment: module;
}
.programm-module__heading {
  padding-left: 70px;
  display: flex;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.programm-module__heading--splitted {
  .programm-module__title {
    max-width: 546px;
  }
}
.programm-module__heading-name {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 60px;
  .programm-module__suptitle {
    &::before {
      content: counter(module) " ";
    }
  }
}
.programm-module__suptitle {
  font-family: var(--ff-bold);
  font-size: 20px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 7px;
}
.programm-module__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #333333;
}

.programm-module__heading-duration {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 99px;
  border-left: 1px solid #e2e2e2;
}

// .programm-module__content {
// }

.programm-module-bullets {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 80px;
  padding-bottom: 45px;
  border-bottom: 1px solid #e2e2e2;
  &--results {
    border-bottom: none;
  }
}
.programm-moudle-bullets__title {
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 100%;
  color: #333333;
  font-family: var(--ff-bold);
}
.programm-module-bullets__list {
  list-style: none;
  counter-reset: bullet;
  --list-padding: 80px;
  padding-left: var(--list-padding);
}
.programm-module-bullets__item {
  position: relative;
  counter-increment: bullet;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 145%;
  color: #333333;
  &::before {
    content: attr(data-prefix) " " counter(bullet);
    position: absolute;
    left: calc(0px - var(--list-padding));
    top: 0;
    font-family: var(--ff-bold);
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
.programm-module-bullets__item--result {
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/pricing/positive.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.programm-module-bullets__list--results {
  --list-padding: 40px;
}

.programm-module-cards__title {
  font-family: var(--ff-bold);
  font-size: 22px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 25px;
  text-align: center;
}

.programm-module__task {
  padding-top: 45px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 50px;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #e2e2e2;
}

.programm-module__stat-title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 100%;
  color: #333333;
  font-family: var(--ff-bold);
}
.programm-module__stat-title--result {
  color: #118a0f;
}
.programm-module__stat-value {
  font-size: 16px;
  line-height: 145%;
  color: #333333;
}

.program-tabs-controls {
  z-index: 20;
}

@media (max-width: 1199px) {
  .program-tab-descr-wrapper {
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .program-tab__descr {
    font-size: 15px;
    line-height: 150%;
  }

  .programm-module__heading {
    padding-left: 15px;
  }
  .programm-module__heading-name {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0;
  }
  .programm-moudle__stat-value,
  .programm-module__stat-title,
  .programm-module__title,
  .programm-module__suptitle {
    font-size: 14px;
    line-height: 100%;
  }

  .programm-module__task {
    display: block;
    padding: 15px;
  }
  .program-module__stat {
    margin-bottom: 20px;
  }
  .programm-module__stat-title {
    margin-bottom: 8px;
  }
  .programm-module-bullets {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .programm-moudle-bullets__title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 10px;
  }
  .programm-module-bullets__list {
    padding-left: 0;
  }
  .programm-module-bullets__item {
    font-size: 14px;
    line-height: 145%;
    margin-bottom: 20px;
    &::before {
      position: static;
      display: inline;
    }
  }
  .program-tab__cards {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }
  .program-tab-card,
  .program-tab__card {
    margin-bottom: 30px;
  }
  .program-tab__card--material {
    box-shadow: none;
    padding: 0;
    &::after {
      display: none;
    }
  }
  .program-tab-card__img {
    height: 62px;
    margin-bottom: 16px;
  }
  .program-tab-card__title {
    font-size: 14px;
    line-height: 100%;
  }
  .program-tab-card__desc {
    font-size: 14px;
    line-height: 150%;
  }

  .programm-module__heading {
    padding-left: 0;
  }
  .programm-module__heading-name {
    padding-left: 17px;
  }
  .programm-module__heading--splitted {
    display: block;
  }
  .programm-module__heading-duration {
    padding-left: 0;
    border-left: none;
    border-top: 1px solid #e2e2e2;
    padding: 17px;
  }

  .programm-moudle-bullets__title {
    font-size: 14px;
  }

  .programm-module-bullets__item--result::before {
    display: block;
    margin-bottom: 5px;
  }
  .programm-module-cards__title {
    font-size: 16px;
    line-height: 100%;
  }
}
