.testimonials-wrapper {
  overflow: hidden;
}
.testimonials-slider {
  margin-left: auto;
  margin-right: auto;
}
.testimonials-item {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 25px rgba(204, 204, 204, 0.15);
  transition: all 0.3s ease;
  opacity: 0;

  &::after {
    content: "";
    display: block;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid #f5f5f5;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &.swiper-slide-next,
  &.swiper-slide-active {
    transition: all 0.3s ease;
    opacity: 1;
  }
}

.testimonials {
  display: block;
}
.testimonial-top img {
  width: 75px;
  height: 75px;
}
.testimonial-text {
  font-size: 16px;
}
.testimonials-pagination {
  position: static;
  max-width: 100%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
  padding-top: 30px;
}
.testimonials
  .swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  transform: none;
}
.testimonials-button-prev,
.testimonials-button-next {
  top: 45%;
}

@media (max-width: 991px) {
  .swiper-button-next.testimonials-button-next,
  .swiper-button-prev.testimonials-button-prev {
    display: none;
  }
  .testimonial-text {
    font-size: 14px;
  }
}

.video-reviews-slider-slide {
  max-width: 745px;
  width: 100%;
  position: relative;
  background-color: #000;
  border-radius: 16px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 72px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/0-general/play-icon.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  &:hover::before {
    transition: all 0.3s ease;
    background-color: #f00;
  }
  &--active {
    &::before {
      display: none;
    }
  }
}
.video-reviews-slider-slide__media {
  width: 100%;
  border-radius: 16px;
  height: 420px;
}
.video-reviews-slider-slide__img {
  display: block;
  object-fit: cover;
  &--hidden {
    display: none;
  }
}
.video-reviews-slider-slide__video {
  display: none;
  opacity: 0;
  &--visible {
    display: block;
    opacity: 1;
  }
}
.video-reviews-slider__pagination {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

@media (max-width: 1199px) {
  .video-reviews-slider__pagination {
    display: none;
  }
  .video-reviews-slider-slide__media {
    height: 220px;
  }
  .testimonials-pagination {
    display: none;
  }
  .video-reviews-slider-slide::before {
    width: 100px;
    height: 62px;
    background-size: 26px;
  }
}
