.testimonials-wrapper {
  overflow: hidden;
}
.testimonials-slider {
  margin-left: auto;
  margin-right: auto;
}
.testimonials-item {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 25px rgba(204, 204, 204, 0.15);
  transition: all 0.3s ease;
  opacity: 0;

  &::after {
    content: "";
    display: block;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid #f5f5f5;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &.swiper-slide-next,
  &.swiper-slide-active {
    transition: all 0.3s ease;
    opacity: 1;
  }
}

.testimonials {
  display: block;
}
.testimonial-top img {
  width: 75px;
  height: 75px;
}
.testimonial-text {
  font-size: 16px;
}
.testimonials-pagination {
  position: static;
  max-width: 100%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
  padding-top: 30px;
}
.testimonials
  .swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  transform: none;
}
.testimonials-button-prev,
.testimonials-button-next {
  top: 45%;
}

@media (max-width: 991px) {
  .swiper-button-next.testimonials-button-next,
  .swiper-button-prev.testimonials-button-prev {
    display: none;
  }
  .testimonial-text {
    font-size: 14px;
  }
}
