footer.container
	.footer
		img(src="img/logo.png" alt="logo").footer_logo
		img(src="img/footer-ball.png" alt="footer-ball").footer-ball
	.footer-info
		p.footer-info_item ИП Мулюкова Екатерина Васильевна
		p.footer-info_item ИНН 430502324175
		p.footer-info_item ОГРНИП 315860300010561
		a(href="https://katyschool.ru/politika").footer-info_item Политика конфиденциальности
		a(href="https://katyschool.ru/dogovor").footer-info_item Договор оферты
