header.header
	.container.header-container
		.logo
			img(src="img/0-common/ENEL.svg" alt="logo").logo_pic
			p.logo_descriptor.header-logo_descriptor Бактерицидные рециркуляторы&nbsp;воздуха
		nav.nav-desktop
			ul.nav
				li.nav_item 
					a(href="#catalog").nav_item-lnk Модели
				li.nav_item 
					a(href="#features").nav_item-lnk Преимущества
				li.nav_item 
					a(href="#certificates").nav_item-lnk Сертификаты 
				li.nav_item 
					a(href="#pricing").nav_item-lnk Оптовый прайс-лист
				li.nav_item 
					a(href="#portfolio").nav_item-lnk Выполненные проекты
				li.nav_item 
					a(href="#about").nav_item-lnk О компании
		.header-contacts
			a(href=`${headerPhoneLnk}`).header-contacts_phone #{headerPhone}
			button.header-contacts_callback Заказать звонок

		.burger
			button(type="button").burger-btn
				span.burger-line
		nav.nav-mobile
			ul.nav.nav-burger
				li.nav_item.nav_item--burger
					a(href="#catalog").nav_item-lnk Модели
				li.nav_item.nav_item--burger
					a(href="#features").nav_item-lnk Преимущества
				li.nav_item.nav_item--burger
					a(href="#certificates").nav_item-lnk Сертификаты 
				li.nav_item.nav_item--burger
					a(href="#pricing").nav_item-lnk Оптовый прайс-лист
				li.nav_item.nav_item--burger
					a(href="#portfolio").nav_item-lnk Выполненные проекты 
				li.nav_item.nav_item--burger
					a(href="#about").nav_item-lnk О компании
