header.header
	.container.header-container
		.logo
			img(src="img/0-common/ENEL.svg" alt="logo").logo_pic
			p.logo_descriptor.header-logo_descriptor Бактерицидные рециркуляторы&nbsp;воздуха
		nav
			ul.nav
				li.nav_item 
					a(href="#models").nav_item-lnk Модели
				li.nav_item 
					a(href="#features").nav_item-lnk Преимущества
				li.nav_item 
					a(href="#certificates").nav_item-lnk Сертификаты 
				li.nav_item 
					a(href="#price-list").nav_item-lnk Оптовый прайс-лист
		.header-contacts
			a(href=`${headerPhoneLnk}`).header-contacts_phone #{headerPhone}
			button.header-contacts_callback Заказать звонок