mixin pic(data)
	picture(class= data.pictureClass)
		source(srcset= data.src+".webp 1x,"+data.src+"@2.webp 2x", type="image/webp")
		img(class= data.imgClass, src= data.src+data.ext, srcset= data.src+"@2"+data.ext+" 2x", alt= data.alt)


mixin catalogItem(item)
	.catalog-item
		+pic({
			src: item.src,
			ext: item.ext,
			alt: item.model,
		})
		.catalog-item-name
			h3.catalog-item-name_model= item.model
			span.catalog-item-name_capability= item.cap
		.catalog-item-price
			span.catalog-item-price_value= item.price
			span.catalog-item-price_vat (с НДС)
		.catalog-item-buttons
			button.catalog-item-buttons_more Подробнее
			button.catalog-item-buttons_order.btn-prim Заказать





mixin geoIcon()
	<svg class="footer-icon" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M8.49927 4.6748C7.52772 4.6748 6.7373 5.46522 6.7373 6.43677C6.7373 7.40832 7.52772 8.19874 8.49927 8.19874C9.47082 8.19874 10.2612 7.40832 10.2612 6.43677C10.2612 5.46522 9.47086 4.6748 8.49927 4.6748Z" fill="white"/>
		<path d="M8.49956 0C4.90225 0 1.97559 2.92663 1.97559 6.52394C1.97559 8.04823 2.50108 9.45197 3.38038 10.5638L8.49956 17L13.6187 10.5638C14.498 9.45197 15.0235 8.04823 15.0235 6.52394C15.0235 2.92663 12.0969 0 8.49956 0ZM8.49956 9.37354C6.88031 9.37354 5.56295 8.05618 5.56295 6.43693C5.56295 4.81769 6.88031 3.50032 8.49956 3.50032C10.1188 3.50032 11.4362 4.81769 11.4362 6.43693C11.4362 8.05618 10.1188 9.37354 8.49956 9.37354Z" fill="white"/>
	</svg>

mixin emailIcon()
	<svg class="footer-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
		<path d="M13.8768 2.78125L9.63086 6.99982L13.8768 11.2184C13.9535 11.058 14.0001 10.8806 14.0001 10.6912V3.30841C14.0001 3.119 13.9535 2.94168 13.8768 2.78125Z" fill="white"/>
		<path d="M12.7693 2.07812H1.23029C1.04087 2.07812 0.863551 2.12469 0.703125 2.20145L6.12985 7.60084C6.60968 8.08067 7.38996 8.08067 7.86978 7.60084L13.2965 2.20145C13.1361 2.12469 12.9588 2.07812 12.7693 2.07812Z" fill="white"/>
		<path d="M0.12332 2.78125C0.0465664 2.94168 0 3.119 0 3.30841V10.6912C0 10.8806 0.0465664 11.058 0.12332 11.2184L4.36923 6.99982L0.12332 2.78125Z" fill="white"/>
		<path d="M9.0506 7.58008L8.44977 8.1809C7.65027 8.98041 6.34934 8.98041 5.54983 8.1809L4.94903 7.58008L0.703125 11.7986C0.863551 11.8754 1.04087 11.922 1.23029 11.922H12.7693C12.9588 11.922 13.1361 11.8754 13.2965 11.7986L9.0506 7.58008Z" fill="white"/>
		</g>
		<defs>
			<clipPath id="clip0">
				<rect width="14" height="14" fill="white"/>
			</clipPath>
		</defs>
	</svg>


mixin phoneIcon()
	<svg class="footer-icon" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
			<path d="M14.613 11.0676L12.7488 9.20296C12.2514 8.70556 11.3823 8.70471 10.8841 9.20296L10.5732 9.51383L14.3023 13.2426L14.613 12.9319C15.1292 12.4157 15.1275 11.5812 14.613 11.0676Z" fill="white"/>
			<path d="M9.93501 10.1184C9.54273 10.4223 8.9831 10.4102 8.62465 10.051L4.93862 6.36239C4.57935 6.00313 4.56725 5.44309 4.87115 5.05177L1.15071 1.33154C-0.4498 3.19716 -0.387222 6.00828 1.37923 7.77473L7.21231 13.6104C8.90743 15.3054 11.684 15.5302 13.6556 13.8388L9.93501 10.1184Z" fill="white"/>
			<path d="M5.78586 2.23802L3.92162 0.37337C3.42422 -0.124032 2.55518 -0.124881 2.05696 0.37337L1.74609 0.684238L5.47511 4.41305L5.78586 4.10227C6.30201 3.58612 6.30031 2.75163 5.78586 2.23802Z" fill="white"/>
		</g>
		<defs>
		<clipPath id="clip0">
		<rect width="15" height="15" fill="white"/>
		</clipPath>
		</defs>
	</svg>



mixin waIcon()
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path  class="icon-color-this" d="M10.0025 0H9.9975C4.48375 0 0 4.485 0 10C0 12.1875 0.705 14.215 1.90375 15.8612L0.6575 19.5763L4.50125 18.3475C6.0825 19.395 7.96875 20 10.0025 20C15.5162 20 20 15.5138 20 10C20 4.48625 15.5162 0 10.0025 0Z" fill="white"/>
	<path d="M15.8207 14.1212C15.5795 14.8025 14.622 15.3675 13.8582 15.5325C13.3357 15.6437 12.6532 15.7325 10.3557 14.78C7.41695 13.5625 5.52445 10.5762 5.37695 10.3825C5.2357 10.1887 4.18945 8.80123 4.18945 7.36623C4.18945 5.93123 4.9182 5.23248 5.21195 4.93248C5.4532 4.68623 5.85195 4.57373 6.23445 4.57373C6.3582 4.57373 6.46945 4.57998 6.56945 4.58498C6.8632 4.59748 7.0107 4.61498 7.20445 5.07873C7.4457 5.65998 8.0332 7.09498 8.1032 7.24248C8.17445 7.38998 8.2457 7.58998 8.1457 7.78373C8.05195 7.98373 7.96945 8.07248 7.82195 8.24248C7.67445 8.41248 7.53445 8.54248 7.38695 8.72498C7.25195 8.88373 7.09945 9.05373 7.26945 9.34748C7.43945 9.63498 8.02695 10.5937 8.89195 11.3637C10.0082 12.3575 10.9132 12.675 11.237 12.81C11.4782 12.91 11.7657 12.8862 11.942 12.6987C12.1657 12.4575 12.442 12.0575 12.7232 11.6637C12.9232 11.3812 13.1757 11.3462 13.4407 11.4462C13.7107 11.54 15.1395 12.2462 15.4332 12.3925C15.727 12.54 15.9207 12.61 15.992 12.7337C16.062 12.8575 16.062 13.4387 15.8207 14.1212Z" fill="#2B313F"/>
	</svg>


mixin igIcon()
	<svg class="social-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path class="icon-color-this" d="M14.5862 0H5.41381C2.42858 0 0 2.42858 0 5.41381V14.5863C0 17.5714 2.42858 20 5.41381 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41381C20 2.42858 17.5714 0 14.5862 0V0ZM9.99998 15.4686C6.98454 15.4686 4.53139 13.0154 4.53139 9.99998C4.53139 6.98454 6.98454 4.53139 9.99998 4.53139C13.0154 4.53139 15.4686 6.98454 15.4686 9.99998C15.4686 13.0154 13.0154 15.4686 9.99998 15.4686ZM15.5993 5.82106C14.7082 5.82106 13.9834 5.09627 13.9834 4.20516C13.9834 3.31405 14.7082 2.58911 15.5993 2.58911C16.4904 2.58911 17.2154 3.31405 17.2154 4.20516C17.2154 5.09627 16.4904 5.82106 15.5993 5.82106Z" fill="white"/>
		<path class="icon-color-this" d="M10.0002 5.7041C7.63144 5.7041 5.7041 7.63128 5.7041 10.0002C5.7041 12.369 7.63144 14.2963 10.0002 14.2963C12.3691 14.2963 14.2963 12.369 14.2963 10.0002C14.2963 7.63128 12.3691 5.7041 10.0002 5.7041Z" fill="white"/>
		<path class="icon-color-this" d="M15.5997 3.76172C15.3552 3.76172 15.1562 3.96069 15.1562 4.20514C15.1562 4.44958 15.3552 4.64856 15.5997 4.64856C15.8443 4.64856 16.0432 4.44974 16.0432 4.20514C16.0432 3.96054 15.8443 3.76172 15.5997 3.76172Z" fill="white"/>
	</svg>
